
/* body background color is white*/

body {
    background-color: rgb(218, 235, 245);
}

/* styles for all container classes*/
.container {
    border: 6px solid black;
    margin: 20px;
    padding: 20px;
    font-family:cursive;
    background-color: #c4dce9;
    color: #64137a;
}

/* styles applied to all flex items*/
.flex-item {
color:rgb(61, 95, 163);
font-size: 1.5rem;
padding: 1rem;
text-align: center;
}

/*style appiled to item-1 class*/
.item-1{
font-size: 2rem;

}

/*style appiled to item-2, item-3 and item-4 specific classes*/
.item-2 .item-3 .item4 {
font-size: 1.5rem;;

}

/* styles applied to the p tags*/
p {
    font-size: 1.5rem;
}

.My-Projects p li{
    font-size: 1.5rem;
}
.content { 
    width: 100%;
    display:inline-block;
    margin: 20px;
}

/* styles applied to all images under the About-Me class*/

.About-Me{
    margin-bottom: 20px;
    padding: 15px;
    font-family:cursive;
    background-color: #7c45d4;
    color: #ffffff;
}


/* styles applied to My Projects class*/
.My-Projects {
    margin-bottom: 10px;
    padding: 15px;
    font-family:cursive;
    background-color: #7c45d4;
    color: #ffffff;
}
/* styles applied to the Contact-Me class*/

.Contact-Me {
    margin-bottom: 10px;
    padding: 15px;
    font-family:cursive;
    background-color: #7c45d4;
    color: #ffffff;
}

/* styles applied to images under the About-Me class*/

.About-Me img {
    max-height: 150px;
    float: left;
    margin: 10px;
}


/* styles applied to h2 fonts under the search-engine-optimization class*/

.About-Me h2 {
    margin-bottom: 10px;
    font-size: 28px;
}

/* styles applied to h2 fonts under the online-reputation-management class*/

.My-Projects h2 {
    margin-bottom: 10px;
    font-size: 28px;
}

/* styles applied to h2 fonts under the social-media-marketing class*/

.Contact-Me h2 {
    margin-bottom: 10px;
    font-size: 28px;
}


/* styles applied to the h3 fonts under the footer class*/

.footer h3 {
    font-family:cursive;
    font-size: 20px;
}
